@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .nav-respon {
        background-color: rgba(255, 255, 255, .1);
        backdrop-filter: blur(3px);
    }
    
    .text-shadow {
        text-shadow: 0 0 10px;
    }

    .box-shadow {
        box-shadow: 0 0 10px;
    }

    .prof-shadow {
        border-radius: 100%;
        border: 2px solid #0ff;
        box-shadow: 0 0 10px #0ff;
    }
}